/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/.buildpath
.project
/.setting
.settings/
nbproject/
public/css/lib/
*.gz
public/js/lib/
public/documents/styleguide/
tests/e2e/**/*.js
resources/assets/ts/**/*.js
typings/**/*.js
*.map
typings/**/*.d.ts
screenshot/
phantomjsdriver.log
!typings/syonet/SyonetWork.ts
!typings/syonet/SyonetWork.d.ts
!typings/syonet/BrowserSetting.ts
!typings/syonet/BrowserSetting.d.ts
!webpack.config.js
!gulpconfig/publiclibmanage.js