/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/.buildpath
.project
/.setting
.settings/
nbproject/
public/css/lib/
public/js/
*.js
*.map
!e2efirefox.js
!e2echrome.js
!e2ephantom.js
typings/**/*d.ts
screenshot/
phantomjsdriver.log
!typings/syonet/SyonetWork.ts
!typings/syonet/SyonetWork.d.ts
!typings/syonet/BrowserSetting.ts
!typings/syonet/BrowserSetting.d.ts