/*
#styleguide
list

SVGで作成されているタイトルのCSS

@現在使用中

使用されているURL
https://syonet.work/?contents=suggester

```
<ul class="list">
    <li class="list__header">コンテンツ一覧</li>
    <a href="/contents/?contents=connpass">
        <li class="list__item">
            <div class="list__item__center">
                Connpassイベント検索
            </div>
        </li>
    </a>
</ul>
```
*/
#titleSvg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#title-S {
    -webkit-animation-name: title-S-animetion;
            animation-name: title-S-animetion;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes title-S-animetion {
    0% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    } 
    25% {
        -webkit-transform: translate(0px, -250px);
                transform: translate(0px, -250px);
    }
    75% {
        -webkit-transform: translate(0px, 250px);
                transform: translate(0px, 250px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
}

@keyframes title-S-animetion {
    0% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    } 
    25% {
        -webkit-transform: translate(0px, -250px);
                transform: translate(0px, -250px);
    }
    75% {
        -webkit-transform: translate(0px, 250px);
                transform: translate(0px, 250px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
}

#title-u {
    -webkit-animation-name: title-u-animetion;
            animation-name: title-u-animetion;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes title-u-animetion {
    0% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    } 
    25% {
        -webkit-transform: translate(-250px, 0px);
                transform: translate(-250px, 0px);
    }
    75% {
        -webkit-transform: translate(250px, 0px);
                transform: translate(250px, 0px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
}

@keyframes title-u-animetion {
    0% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    } 
    25% {
        -webkit-transform: translate(-250px, 0px);
                transform: translate(-250px, 0px);
    }
    75% {
        -webkit-transform: translate(250px, 0px);
                transform: translate(250px, 0px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
}

#title-g1 {
    -webkit-animation-name: title-g1-animetion;
            animation-name: title-g1-animetion;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes title-g1-animetion {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes title-g1-animetion {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

#title-g2 {
    -webkit-animation-name: title-g2-animetion;
            animation-name: title-g2-animetion;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes title-g2-animetion {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
}

@keyframes title-g2-animetion {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
}

#title-e1 {
    -webkit-animation-name: title-e1-animetion;
            animation-name: title-e1-animetion;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes title-e1-animetion {
    0% {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(2, 2);
                transform: scale(2, 2);
    }
    100% {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
    }
}

@keyframes title-e1-animetion {
    0% {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(2, 2);
                transform: scale(2, 2);
    }
    100% {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
    }
}

#title-s {
    -webkit-animation-name: title-s-animetion;
            animation-name: title-s-animetion;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes title-s-animetion {
    0% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    } 
    25% {
        -webkit-transform: translate(450px, 0px);
                transform: translate(450px, 0px);
    }
    75% {
        -webkit-transform: translate(-450px, 0px);
                transform: translate(-450px, 0px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
}

@keyframes title-s-animetion {
    0% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    } 
    25% {
        -webkit-transform: translate(450px, 0px);
                transform: translate(450px, 0px);
    }
    75% {
        -webkit-transform: translate(-450px, 0px);
                transform: translate(-450px, 0px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
}

#title-t {
    -webkit-animation-name: title-t-animetion;
            animation-name: title-t-animetion;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes title-t-animetion {
    0% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    } 
    25% {
        -webkit-transform: translate(0px, -250px);
                transform: translate(0px, -250px);
    }
    75% {
        -webkit-transform: translate(0px, 250px);
                transform: translate(0px, 250px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
}

@keyframes title-t-animetion {
    0% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    } 
    25% {
        -webkit-transform: translate(0px, -250px);
                transform: translate(0px, -250px);
    }
    75% {
        -webkit-transform: translate(0px, 250px);
                transform: translate(0px, 250px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
}

#title-e2 {
    -webkit-animation-name: title-e2-animetion;
            animation-name: title-e2-animetion;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes title-e2-animetion {
    0% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    } 
    25% {
        -webkit-transform: translate(450px, 0px);
                transform: translate(450px, 0px);
    }
    75% {
        -webkit-transform: translate(-450px, 0px);
                transform: translate(-450px, 0px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
}

@keyframes title-e2-animetion {
    0% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    } 
    25% {
        -webkit-transform: translate(450px, 0px);
                transform: translate(450px, 0px);
    }
    75% {
        -webkit-transform: translate(-450px, 0px);
                transform: translate(-450px, 0px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
}

#title-r {
    -webkit-animation-name: title-r-animetion;
            animation-name: title-r-animetion;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes title-r-animetion {
    0% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    } 
    25% {
        -webkit-transform: translate(-800px, -250px);
                transform: translate(-800px, -250px);
    }
    75% {
        -webkit-transform: translate(800px, 250px);
                transform: translate(800px, 250px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
}

@keyframes title-r-animetion {
    0% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    } 
    25% {
        -webkit-transform: translate(-800px, -250px);
                transform: translate(-800px, -250px);
    }
    75% {
        -webkit-transform: translate(800px, 250px);
                transform: translate(800px, 250px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
}